* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Roboto', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1f2937;
}
/* Header */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 20px;
	color: #f9faf8;
	font-weight: bold;
	width: 100%;
	max-width: 60rem;
}

.logo {
	color: #3882f6;
	font-size: 2rem;
	line-height: 3.4375rem;
}

.header ul {
	display: flex;
	list-style: none;
	color: #e5e7eb;
	justify-content: space-between;
	gap: 0.75rem;
}
.header li > a {
	text-decoration: none;
	color: inherit;
	background: linear-gradient(to right, transparent, transparent),
		linear-gradient(to right, #5f9dff, #2579ff, #2974ec);
	background-size: 100% 3px, 0 3px;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
}
.header li > a:hover {
	background-size: 0 3px, 100% 3px;
}

/* Hero banner */
.hero {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 60rem;
	height: 500px;
	padding: 0 1.25rem;
}

.hero > div {
	flex: 1;
}

.hero > div > h1 {
	color: #f9faf8;
	font-weight: 800;
	font-size: 3rem;
	justify-content: space-between;
}

.hero > div > p {
	color: #e5e7eb;
	font-size: 1.125rem;
}

.image {
	flex: 2;
	max-height: 15rem;
	object-fit: cover;
}

/* Button */
.button {
	padding: 10px 2.5rem;
	font-size: 1rem;
	border-radius: 10px;
	background-color: #3882f6;
	color: #f9faf8;
	font-weight: bold;
	cursor: pointer;
	border: none;
	transition: ease-in 100ms;
}

.button:hover {
	opacity: 0.9;
}

.button:active {
	transform: scale(1.05);
	transition: 200ms;
}

.-border {
	border: 2px solid #f9faf8;
}

/* Information Section */
.information {
	background-color: #fff;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 30px 0 100px 0;
}
.information > div {
	max-width: 50rem;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.information h1 {
	color: #1f2937;
	font-size: 2.25rem;
	font-weight: 800;
}

.information nav {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3rem;
	justify-content: space-between;
}

.cards {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	text-align: center;
	cursor: pointer;
	flex: 1;
	border: 3px solid transparent;
	border-radius: 8px;
	transition: 400ms;
	padding: 10px;
}

.cards:hover {
	border-color: #3882f6;
}

.cards > img {
	width: 150px;
	height: 100px;
	padding: 4px;
	aspect-ratio: auto 150 / 100;
}

.cards > p {
	padding-top: 0.25rem;
	color: #8b8993;
	font-weight: normal;
	max-width: 150px;
}
/* Quotation Section */
.quote-section {
	width: 100%;
	padding: 80px 0;
	background-color: #e5e7eb;
}

.quote-section figure {
	max-width: 50rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.quote-section blockquote {
	font-size: 2.25rem;
	font-weight: lighter;
}
.quote-section figcaption {
	align-self: flex-end;
	font-size: 1.5rem;
	font-weight: 800;
	padding-right: 1rem;
}
/* Call to Action Section */
.call-to-action {
	display: flex;
	padding: 100px 150px;
	width: 100%;

	background-color: #fff;
}

.call-to-action > div {
	display: flex;
	justify-content: space-around;
	padding: 60px 0;
	width: 100%;
	border-radius: 8px;
	max-width: 60rem;
	background: #3882f6;
}

.call-to-action h1 {
	color: #f9faf8;
}

.call-to-action p {
	color: #e5e7eb;
}
/* Footer */
footer {
	background-color: #1f2937;
	color: #e5e7eb;
	width: 100%;
	text-align: center;
	padding: 3.75rem;
}
